{% extends 'instant/_base.html' %}

{% block content %}
<a href="{% url 'instant:log_out' %}">Log Out</a>
<br>
<ul>
    {% for user in users %}
    <li data-username="{{ user.username|escape }}">
        {{ user.username|escape }}: {{ user.status|default:'Offline' }}
    </li>
    {% endfor %}
</ul>
{% endblock content %}

{% block script %}
    <script>
        var socket = new WebSocket('ws://' + window.location.host + '/users/');
        socket.onopen = function open () {
            console.log('Welcome to LincChat. WebSockets connection created.');
        };

        socket.onmessage = function message(event) {
            var data = JSON.parse(event.data);
            var username = encodeURI(data['username']);
            var user = $('li').filter(function () {
                return $(this).data['username'] = username;
            });
            if data['is_logged_in'] {
                user.html(username + ': Online');
            }
            else {
                user.html(username + 'Z: Offline');
            }
        };

        if (socket.readyState == WebSocket.OPEN) {
            socket.onopen();
        }
    </script>
{% endblock script %}